@{
    ViewData["Title"] = MenuUtilsResource.HomePageTitle;
}
<p>
    <a class="btn btn-default add-entity"
       asp-controller="Menu"
       asp-action="add">@MenuUtilsResource.ButtonAddNewText</a>
</p>
