[Unit]
Description=dotnet SmartRestaurant
After=network.target

[Service]
Environment=ASPNETCORE_URLS=http://127.0.0.1:5000/
Environment=ASPNETCORE_ENVIRONMENT=Production 
Restart=always
RestartSec=10
Type=simple
SyslogIdentifier=SmartRestaurant
WorkingDirectory=ARTIFACTS_OUTPUT_PATH
ExecStart=/usr/bin/dotnet ARTIFACTS_OUTPUT_PATH/WEB_PROJECT_NAME.dll
User=gitlab-runner
Group=gitlab-runner

[Install]
WantedBy=multi-user.target
