<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Advanced UI Elements</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Range Sliders</li>
                        </ol>
                    </nav>

                    <!-- Basic Range Sliders -->
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Basic Range Sliders</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-3 ">
                                    <h6 class="section-title">Default Slider</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_0" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3 ml-auto mr-auto">
                                    <h6 class="section-title">Double Slider</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_1" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Date Slider</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_2" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Advanced Range Sliders -->
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Advanced Range Sliders</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="section-title">Label Collision Detection</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_3" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3 ml-auto mr-auto">
                                    <h6 class="section-title">Snap Slider</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_4" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Floating Point Slider</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_5" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Range Slider Skins</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="section-title">Default Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_6" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3 ml-auto mr-auto">
                                    <h6 class="section-title">Big Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_7" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Modern Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_8" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Range Slider Skins (2)</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="section-title">Sharp Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_9" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3 ml-auto mr-auto">
                                    <h6 class="section-title">Round Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_10" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Square Skin</h6>
                                    <div class="ms-range-slider my-4">
                                        <input id="demo_11" type="text" class="js-range-slider" name="slider1" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>

</div>