<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Maps</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Google Maps</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Basic Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="map-with-marker" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Map Without Controls</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="map-minimal" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Propia Theme Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="propia-map-theme" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Avocado Theme Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="avocado-map-theme" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Night Mode Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="night-mode-map" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Apple Theme Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="apple-map-theme" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Captor Theme Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="captor-map-theme" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Nature Theme Map</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="map-container">
                                <div id="nature-map-theme" class="google-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>