################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helpers/bin/Debug/netstandard2.0
/Helpers/obj
/SmartRestaurant.Application/bin/Debug/netstandard2.0
/SmartRestaurant.Application/obj
/SmartRestaurant.Application-Standard/obj
/SmartRestaurant.Client.API/obj
/SmartRestaurant.Client.API/bin/Debug/netcoreapp2.2
/SmartRestaurant.Client.API.Identity/bin/Debug/netcoreapp2.2
/SmartRestaurant.Client.API.Identity/obj
/SmartRestaurant.Client.API.Translator/obj
/SmartRestaurant.Client.Commun/obj
/SmartRestaurant.Client.Test/obj
/SmartRestaurant.Client.Web/obj
/SmartRestaurant.Domain/bin/Debug/netstandard2.0
/SmartRestaurant.Domain/obj
/SmartRestaurant.Forms/SmartRestaurant.Forms/obj
/SmartRestaurant.Forms/SmartRestaurant.Forms.Android/obj
/SmartRestaurant.Forms/SmartRestaurant.Forms.iOS/obj
/SmartRestaurant.Globalisation/bin/Debug/netstandard2.0
/SmartRestaurant.Globalisation/obj
/SmartRestaurant.Persistance.Identity/bin/Debug/netcoreapp2.2
/SmartRestaurant.Persistance.Identity/obj
/SmartRestaurant.Persistence/bin/Debug/netstandard2.0
/SmartRestaurant.Persistence/obj
/SmartRestaurant.Persistence.ApplicationDataBase/bin/Debug/netcoreapp2.2
/SmartRestaurant.Persistence.ApplicationDataBase/obj
/SmartRestaurant.Persistence.Guest.Identity/bin/Debug/netcoreapp2.2
/SmartRestaurant.Persistence.Guest.Identity/obj
/SmartRestaurant.Presentation.Web/obj
/Translator/obj
/SmartRestaurant.Client.Commun/bin/Debug/netcoreapp2.2
/SmartRestaurant.Client.Web/bin/Debug/netcoreapp2.2
/SmartRestaurant.Forms/SRMobile/bin/Debug
/SmartRestaurant.Forms/SRMobile/obj
/SmartRestaurant.Forms/SRMobile.Android/obj
/SmartRestaurant.Forms/SRMobile.Android/bin/Debug
/SmartRestaurant.Forms/SRMobile.UWP/obj
/SmartRestaurant.Forms/SRMobile.iOS/obj
/SmartRestaurant.Client.Web/wwwroot/js
/SmartRestaurant.Client.Web/www/PayPal_ Transaction Details_page-0001.jpg
