
@{
    ViewData["Title"] = "Test";
}


<div class="form-control">
    <ul id="clientsOrder"></ul>
</div>
<div class="form-control">
    <ul id="signedOrders"></ul>
</div>
<div class="form-control">
    <ul id="readyOrders"></ul>
</div>
<div class="form-control">
    <ul id="deliveredOrders"></ul>
</div>


