<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Popups</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Sweet Alerts</li>
                        </ol>
                    </nav>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Sweet Alerts</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Check <code>/assets/js/sweet-alerts.js</code> for reference</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="section-title">Basic Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="basic">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Alert with Footer</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="with-footer">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Positioned Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="positioned">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Alert with HTML</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="with-html">Click Me</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Advanced Alerts</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="section-title">Multi Step Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="multi-step">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Auto Close Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="auto-close">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">AJAX Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="ajax">Click Me</button>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="section-title">Custom Alert</h6>
                                    <button type="button" name="button" class="btn btn-primary trigger-swal" data-swal="custom">Click Me</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>