<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Advanced UI Elements</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Rating</li>
                        </ol>
                    </nav>

                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Star Rating</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered">
                                        <li class="ms-rating-item"> <i class="material-icons">star_border</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star_border</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill">
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill rating-circle">
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered rating-circle">
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">star</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">star</i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Letter Rating</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered letter-rating">
                                        <li class="ms-rating-item rated"> <i>E</i> </li>
                                        <li class="ms-rating-item rated"> <i>D</i> </li>
                                        <li class="ms-rating-item rated"> <i>C</i> </li>
                                        <li class="ms-rating-item rated"> <i>B</i> </li>
                                        <li class="ms-rating-item rated"> <i>A</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill letter-rating">
                                        <li class="ms-rating-item"> <i>E</i> </li>
                                        <li class="ms-rating-item"> <i>D</i> </li>
                                        <li class="ms-rating-item"> <i>C</i> </li>
                                        <li class="ms-rating-item"> <i>B</i> </li>
                                        <li class="ms-rating-item rated"> <i>A</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill rating-circle letter-rating">
                                        <li class="ms-rating-item"> <i>E</i> </li>
                                        <li class="ms-rating-item rated"> <i>D</i> </li>
                                        <li class="ms-rating-item rated"> <i>C</i> </li>
                                        <li class="ms-rating-item rated"> <i>B</i> </li>
                                        <li class="ms-rating-item rated"> <i>A</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered rating-circle letter-rating">
                                        <li class="ms-rating-item"> <i>E</i> </li>
                                        <li class="ms-rating-item"> <i>D</i> </li>
                                        <li class="ms-rating-item"> <i>C</i> </li>
                                        <li class="ms-rating-item rated"> <i>B</i> </li>
                                        <li class="ms-rating-item rated"> <i>A</i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Number Rating</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered letter-rating">
                                        <li class="ms-rating-item"> <i>5</i> </li>
                                        <li class="ms-rating-item"> <i>4</i> </li>
                                        <li class="ms-rating-item rated"> <i>3</i> </li>
                                        <li class="ms-rating-item rated"> <i>2</i> </li>
                                        <li class="ms-rating-item rated"> <i>1</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill letter-rating">
                                        <li class="ms-rating-item"> <i>5</i> </li>
                                        <li class="ms-rating-item"> <i>4</i> </li>
                                        <li class="ms-rating-item"> <i>3</i> </li>
                                        <li class="ms-rating-item"> <i>2</i> </li>
                                        <li class="ms-rating-item rated"> <i>1</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill rating-circle letter-rating">
                                        <li class="ms-rating-item"> <i>5</i> </li>
                                        <li class="ms-rating-item"> <i>4</i> </li>
                                        <li class="ms-rating-item"> <i>3</i> </li>
                                        <li class="ms-rating-item rated"> <i>2</i> </li>
                                        <li class="ms-rating-item rated"> <i>1</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered rating-circle letter-rating">
                                        <li class="ms-rating-item"> <i>5</i> </li>
                                        <li class="ms-rating-item rated"> <i>4</i> </li>
                                        <li class="ms-rating-item rated"> <i>3</i> </li>
                                        <li class="ms-rating-item rated"> <i>2</i> </li>
                                        <li class="ms-rating-item rated"> <i>1</i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Heart Rating</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered heart-rating">
                                        <li class="ms-rating-item"> <i class="material-icons">favorite_border</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite_border</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite_border</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill heart-rating">
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill rating-circle heart-rating">
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-bordered rating-circle heart-rating">
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item"> <i class="material-icons">favorite</i> </li>
                                        <li class="ms-rating-item rated"> <i class="material-icons">favorite</i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Misc. Rating</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating misc-number">
                                        <li class="ms-rating-item"> <i>5</i> </li>
                                        <li class="ms-rating-item"> <i>4</i> </li>
                                        <li class="ms-rating-item rated"> <i>3</i> </li>
                                        <li class="ms-rating-item rated"> <i>2</i> </li>
                                        <li class="ms-rating-item rated"> <i>1</i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating rating-fill misc-checks">
                                        <li class="ms-rating-item"> <i></i> </li>
                                        <li class="ms-rating-item"> <i></i> </li>
                                        <li class="ms-rating-item"> <i></i> </li>
                                        <li class="ms-rating-item rated"> <i></i> </li>
                                        <li class="ms-rating-item rated"> <i></i> </li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating misc-blocks">
                                        <li class="ms-rating-item"></li>
                                        <li class="ms-rating-item rated"></li>
                                        <li class="ms-rating-item rated"></li>
                                        <li class="ms-rating-item rated"></li>
                                        <li class="ms-rating-item rated"></li>
                                    </ul>
                                </div>
                                <div class="col-xl-3 col-md-6 col-sm-6">
                                    <ul class="ms-star-rating misc-square">
                                        <li class="ms-rating-item"></li>
                                        <li class="ms-rating-item"></li>
                                        <li class="ms-rating-item"></li>
                                        <li class="ms-rating-item"></li>
                                        <li class="ms-rating-item rated"> <i></i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </main>

</div>