<div class="form-group hidden" id="progress-job">
    <div class="row">
        <div class="col-md-2">
            <div class="loader"></div>
        </div>
        <div class="col-md-10 align-content-center">
            <p>
                @UtilsResource.DefaultBodyModalWaitingMessage
            </p>
        </div>
    </div>
</div>
