<div id="delete-entity-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header red-color">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="delete-entity-modal-title">

                </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Id" />
                <input type="hidden" id="Url" />
                <input type="hidden" id="Prefix" />
                <p id="delete-entity-modal-body">
                    @* Message ici ... *@
                </p>
                <partial name="_ProgressJobView" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="do-action-delete-entity-modal">@UtilsResource.ButtonDeleteModalText</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@UtilsResource.ButtonCancelDeleteModalText</button>
            </div>
        </div>
    </div>
</div>