@model IEnumerable<OwnerItemModel>

<table class="table">
    <thead class="thead-inverse">
        <tr>

            <th>
                @OwnerResource.FirstName
            </th>
            <th>
                @OwnerResource.LastName
            </th>

            <th>
                @OwnerResource.City
            </th>
            <th>
                @BaseResource.IsDisabled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <partial name="_OwnerListItemView" model="item" />
            }
        }
    </tbody>
</table>
