<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a routerLink="/"><i class="material-icons">home</i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Advanced UI Elements</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Draggables</li>
                        </ol>
                    </nav>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Draggable Cards</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row ms-sortable">
                                <div class="col-lg-3 col-md-6 col-sm-6 ms-draggable">
                                    <div class="ms-card ">
                                        <div class="ms-card-img">
                                            <img src="assets/img/costic/food-7.jpg" alt="card_img">
                                        </div>
                                        <div class="ms-card-body">
                                            <h6>This is a card Title</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 ms-draggable">
                                    <div class="ms-card ">
                                        <div class="ms-card-img">
                                            <img src="assets/img/costic/food-8.jpg" alt="card_img">
                                        </div>
                                        <div class="ms-card-body">
                                            <h6>This is a card Title</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 ms-draggable">
                                    <div class="ms-card ">
                                        <div class="ms-card-img">
                                            <img src="assets/img/costic/food-5.jpg" alt="card_img">
                                        </div>
                                        <div class="ms-card-body">
                                            <h6>This is a card Title</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 ms-draggable">
                                    <div class="ms-card ">
                                        <div class="ms-card-img">
                                            <img src="assets/img/costic/food-6.jpg" alt="card_img">
                                        </div>
                                        <div class="ms-card-body">
                                            <h6>This is a card Title</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc velit, dictum eget nulla a, sollicitudin rhoncus orci. Vivamus nec commodo turpis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Draggable Lists</h6>
                            <p>Drag and Drop Items between both Lists</p>
                        </div>
                        <div class="ms-panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="section-title">To Do</h6>
                                    <ul class="ms-list ms-sortable-list">
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">border_color</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">rss_feed</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">cloud_download</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h6 class="section-title">In Progress</h6>
                                    <ul class="ms-list ms-droppable ms-sortable-list">
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">devices</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">fingerprint</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                        <li class="ms-list-item bordered media">
                                            <i class="material-icons align-self-center">graphic_eq</i>
                                            <div class="media-body">
                                                <h5>Parious Versions has evolved over the years</h5>
                                                <p>It is a long established fact that a reader will be distracted by the content</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-panel-fh">
                        <div class="ms-panel-header">
                            <h6>Sortable List</h6>
                        </div>
                        <div class="ms-panel-body">
                            <ul class="ms-list ms-sortable">
                                <li class="ms-list-item bordered media ms-draggable">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                                <li class="ms-list-item bordered media ms-draggable">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                                <li class="ms-list-item bordered media ms-draggable">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-panel ms-panel-fh">
                        <div class="ms-panel-header">
                            <h6>Sortable List with Images</h6>
                        </div>
                        <div class="ms-panel-body">
                            <ul class="ms-list ms-droppable ms-sortable">
                                <li class="ms-list-item bordered media ms-draggable">
                                    <img class="ms-img-round" src="assets/img/costic/pizza.jpg" alt="people">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                                <li class="ms-list-item bordered media ms-draggable">
                                    <img class="ms-img-round" src="assets/img/costic/french-fries.jpg" alt="people">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                                <li class="ms-list-item bordered media ms-draggable">
                                    <img class="ms-img-round" src="assets/img/costic/cereals.jpg" alt="people">
                                    <div class="media-body">
                                        <h5>Parious Versions has evolved over the years</h5>
                                        <p>It is a long established fact that a reader will be distracted by the content</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>