@model BreadcrumbViewModel
@if (Model.Items != null && Model.Items.Count > 0)
{
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-xs-12">
            <ol class="breadcrumb">
                @foreach (var item in Model.Items.Where(it => !it.IsActive))
                {
                    <li class="breadcrumb-item">
                        <a href="@item.Url">@item.Text</a>
                    </li>
                }
                <li class="breadcrumb-item active">
                    @Model.Items.Where(it => it.IsActive).FirstOrDefault()?.Text
                </li>
            </ol>
        </div>
    </div>
}
<h3 class="content-header-title mb-0">@Model.Title</h3>