<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
        <a class="pl-0 ml-0 text-center" routerLink="/">
            <img src="assets/img/costic/costic-logo-216x62.png" alt="logo">
        </a>
    </div>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#restaurant" aria-expanded="false" aria-controls="popups"> <span><i class="fa fa-building fs-16"></i>Restaurant</span>
            </a>
            <ul id="restaurant" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                <li>
                    <a routerLink="/restaurant-list">Restaurant</a>
                </li>
                <li>
                    <a routerLink="/">Zones</a>
                </li>
                <li>
                    <a routerLink="/">Tables</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#inventory" aria-expanded="false" aria-controls="popups">
                <span><i class="fa fa-cube fs-16"></i>Inventory</span>
            </a>
            <ul id="inventory" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                <li>
                    <a routerLink="/">Store</a>
                </li>
                <li>
                    <a routerLink="/">Vendor</a>
                </li>
                <li>
                    <a routerLink="/add-product">Product</a>
                </li>
                <li>
                    <a routerLink="/">Purchase</a>
                </li>
                <li>
                    <a routerLink="/">Return</a>
                </li>
                <li>
                    <a routerLink="/">Transfer</a>
                </li>
                <li>
                    <a routerLink="/">Consumption</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dish-menu" aria-expanded="false" aria-controls="popups">
                <span>
                  <i class="fa fa-book fs-16"></i>Menu
                </span>
            </a>
            <ul id="dish-menu" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                <li>
                    <a routerLink="/menu-list">Menu</a>
                </li>
                <li>
                    <a routerLink="/">Section</a>
                </li>
                <li>
                    <a routerLink="/">Sub section</a>
                </li>
                <li>
                    <a routerLink="/">Ingredient</a>
                </li>
                <li>
                    <a routerLink="/">Specification</a>
                </li>
                <li>
                    <a routerLink="/">Suplement</a>
                </li>
                <li>
                    <a routerLink="/menu-grid">Dish</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a routerLink="/order"> <span><i class="fa fa-check-square fs-16"></i>Order</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#clients" aria-expanded="false" aria-controls="popups">
                <span><i class="fa fa-user fs-16"></i>Clients</span>
            </a>
            <ul id="clients" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                <li>
                    <a routerLink="/customer-list">Clients</a>
                </li>
                <li>
                    <a routerLink="/invoice-list">Billing</a>
                </li>
                <li>
                    <a routerLink="/">Reservation</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#cash" aria-expanded="false" aria-controls="popups">
                <span><i class="fa fa-cube fs-16"></i>Cash</span>
            </a>
            <ul id="cash" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
                <li>
                    <a routerLink="/">Entry</a>
                </li>
                <li>
                    <a routerLink="/">Settlement</a>
                </li>
                <li>
                    <a routerLink="/">Drawer</a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a routerLink="/"> <span><i class="fa fa-users fs-16"></i>Users</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/"> <span><i class="fa fa-bookmark fs-16"></i>Subscriptions</span>
            </a>
        </li>
        <li class="menu-item">
            <a routerLink="/"> <span><i class="fa fa-ambulance fs-16"></i>Illness</span>
            </a>
        </li>
    </ul>
</aside>