@using SmartRestaurant.Resources.Menus.Menu
@{
    ViewData["Title"] = MenuUtilsResource.HomePageTitle;
}
<p>
    <a class="btn btn-default add-entity"
       asp-controller="Menu"
       asp-action="AddMenu">@MenuUtilsResource.ButtonAddNewText</a>
</p>
