@model IEnumerable<SmartRestaurant.Application.Allergies.Allergies.Queries.AllergyItemModel>

<table class="table">
    <thead class="thead-inverse">
        <tr>

            <th>
                @BaseResource.Name
            </th>
            <th>
                @BaseResource.Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <partial name="_AllergyListItemView" model="item" />
            }
        }
    </tbody>
</table>
