<div class="ms-body ms-aside-left-open ms-primary-theme">
    <app-side-navbar></app-side-navbar>
    <main class="body-content">
        <app-top-navbar></app-top-navbar>
        <div class="ms-content-wrapper">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a routerLink="/"><i class="material-icons">home</i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Basic Table</li>
                        </ol>
                    </nav>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Default Table</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.table-bordered</code> in the <code>table</code></p>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Chihoo Hwang</td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ajay Suryavanash</td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John Doe</td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Alesdro Guitto</td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Manbir Sahwny</td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Highlighted Table Head</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.thead-state</code> in the <code>table</code></p>
                            <div class="table-responsive">
                                <table class="table table-bordered thead-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Chihoo Hwang</td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ajay Suryavanash</td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John Doe</td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Alesdro Guitto</td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Manbir Sahwny</td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Striped Table</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.table-striped</code> in the <code>table</code></p>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Chihoo Hwang</td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ajay Suryavanash</td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John Doe</td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Alesdro Guitto</td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Manbir Sahwny</td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Hoverable Table</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Use <code>.table-hover</code> in the <code>table</code></p>
                            <div class="table-responsive">
                                <table class="table table-hover thead-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Chihoo Hwang</td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ajay Suryavanash</td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John Doe</td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Alesdro Guitto</td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Manbir Sahwny</td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel">
                        <div class="ms-panel-header">
                            <h6>Table with Image</h6>
                        </div>
                        <div class="ms-panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">User</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="ms-table-f-w"> <img src="assets/img/costic/customer-1.jpg" alt="people"> Chihoo Hwang </td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <td class="ms-table-f-w"> <img src="assets/img/costic/customer-2.jpg" alt="people"> Ajay Suryavanash </td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <td class="ms-table-f-w"> <img src="assets/img/costic/customer-3.jpg" alt="people"> John Doe </td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <td class="ms-table-f-w"> <img src="assets/img/costic/customer-4.jpg" alt="people"> Alesdro Guitto </td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <td class="ms-table-f-w"> <img src="assets/img/costic/customer-5.jpg" alt="people"> Manbir Sahwny </td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="ms-panel ms-panel-fh">
                        <div class="ms-panel-header">
                            <h6>Reponsive Table</h6>
                        </div>
                        <div class="ms-panel-body">
                            <p class="ms-directions">Wrap <code>table</code> in the <code>.table-responsive</code></p>
                            <div class="table-responsive">
                                <table class="table thead-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Buyer</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Product ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Chihoo Hwang</td>
                                            <td>Wordpress Template</td>
                                            <td>67384917</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Ajay Suryavanash</td>
                                            <td>Business Card</td>
                                            <td>789393819</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>John Doe</td>
                                            <td>App Customization</td>
                                            <td>137893137</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Alesdro Guitto</td>
                                            <td>Dashboard Design</td>
                                            <td>235193138</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Manbir Sahwny</td>
                                            <td>Theme Development</td>
                                            <td>19938917</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

</div>