@model IEnumerable<UnitItemModel>
@{
    ViewData["Title"] = UnitUtilsResource.HomePageTitle;
}


<div class="card">
    <div class="card-header">
        <a data-action="add" class="btn btn-default add-entity"
           asp-controller="Units"
           asp-action="add">@UnitUtilsResource.ButtonAddNewText</a>

        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li>

                </li>
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="reload" asp-controller="cities" asp-action="Reload"><i class="ft-rotate-cw"></i></a></li>
                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-body collapse in">
        <div class="table-responsive"
             id="table-units">
            <partial name="_UnitsView" model="Model" />
        </div>
    </div>
</div>
