@model IllnessItemModel
    <tr id="Illness-@Model.Id">

        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>     
        <td>
            @Html.DisplayFor(modelItem => Model.IsDisabled)
        </td>
        <td class="align-content-end">
            <a asp-action="Edit"
               asp-controller="Illnesses"
               asp-area="Admin"
               asp-route-id="@Model.Id"
               class="action-link action-edit">
                <i class="fa fa-pencil"></i>
            </a>

            <a data-action-url=@Url.Action("Delete","Illnesses",new { area="Admin"})
               data-target="#Illnesses-@Model.Id"
               data-id="@Model.Id"
               class="action-link action-delete">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
